body {
    display: flex;
    flex-direction: column;
    }

.first {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    flex-grow: 0;
}

#biggest {
    font-size: 48px ;
    color: #f9faf8;
    font-weight: 1000;
}

img {
    width: 350px;
    height: auto;
    border-radius: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    color: #f9faf8;
    justify-content: space-around;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
}

.examples {
    display: flex;
}

.content {
    display: flex;
    flex-direction: row;
    color: #f9faf8;
    justify-content: center;
    gap: 46px
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 30px;
    border-color: #f9faf8;
}

.second {
    display: flex;
    background-color: #f9faf8;
    flex-grow: 1;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 60px 520px;
}

cite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

.fourth {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    color: #f9faf8;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
    gap: 190px
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}